/* body */
body {
    padding: 0;
    margin: 0;
    font-family: url("assets/fonts/Ubuntu/Ubuntu-Medium.ttf");
}
hr {
    background-color: #eeeeee;
    border: none;
    height: 1px;
}
/*navbar */
.nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 5vh;
    width: 96.5vw;
    padding: 1.5em;
    border: 1px solid #eeeeee;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    opacity: 0.97;
}
.combined {
    display: none;
    width: 5vw;
}
.arrow {
    display: none;
}
.logo {
    height: 5vh;
    padding: .5em;
}
.brand {
    display: flex;
}
.user{
    display: flex;
    flex-direction: column;
    margin-top: -7%;
}
.user p{
    margin-top: -10%;
    color: #aaaaaa;
}
input {
    height: 4vh;
    width: 40vw;
    border: 1px solid #dddddd;
}
::placeholder{
    color: #999999;
    padding-left: 1em;
}
.search-image {
    position: relative;
    left: -6.4%;
    top: 32%;
    background-color: #f9f9fb;
    border: 1px solid #dddddd;
    height: 2vh;
    padding: .55em;
}
ul{
    display: flex;
    margin-top: -1%;
}
li {
    list-style-type: none;
    padding: .8em;
}
.shape, .count {
    padding-top: 1em;
}
/*sidebar */
.sidebar{
    position: fixed;
    width: 20vw;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
}
.sub-menu{
    padding: .5em 1em;
}
.title{
    font-weight: bold;
}
.active {
    color: #65c100;
}
.number {
    display: flex;
    justify-content: space-between;
    margin-top: -7%;
}
.figure {
    color: #aaaaaa;
}
.active-number {
    background-color: #65c100;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 6%;
    padding-left: .4em;
}
.up {
    margin-top: -2%;
}
/*Featured books section */
h3 {
    line-height: 16px;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 14px;
}
.featured-books {
    width: 75vw;
    margin-left: 22%;
    margin-bottom: 3%;
}
.carousel-cell {
    width: 18.5%;
    margin-right: 10px;
    counter-increment: carousel-cell;
  }
  .carousel-cell:before {
    display: block;
    content: counter(carousel-cell);
  }
 .container {
     width: 100%;
 }
  .overlay {
    position: absolute;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }
  .container:hover .image {
      opacity: 0.3;
  }
  .container:hover .overlay{
      opacity: 1;
  }
  .details-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
/*Recently Added Books */
section {
    width: 75vw;
    margin-left: 22%;
}
.recently-added {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    width: 22.5vw;
    height: 24vh;
    padding: 1em;
}
.ratings-count {
    display: flex;
}
.ratings {
    margin-top: -10%;
}
.notification {
    display: flex;
    margin-top: 3%;
}
.img {
    height: 2vh;
    margin-left: 10%; 
}
.img ~ p{
    margin-left: -23%;
    padding: .3em;
}
.recently-added .card:hover {
    box-shadow: 0px 0px 60px rgba(0,0,0,0.15);
}
.info {
    padding-left: .5em;
}
.available{
    color: #65c100;
}
.borrowed {
    color: #d0011b;
}
/* All Books available */
.all-books {
    display: flex;
    flex-wrap: wrap;
}

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 414px) {
    .nav {
        position: fixed;
    }
    .combined {
        display: block;
    }
    .user, #search {
        display: none;
    }
    .sidebar{
        position: fixed;
        width: 0;
        box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: 0.5s;
        overflow-x: hidden;
    }
    .search-image{
        background: none;
        border: none;
        margin-left: 15%;
        height: 3.5vh;
    }
    li {
        padding: .5em;
    }
    .image{
        margin-left: 30%;
    }
    .carousel{
        margin-top: 40%;
        width: 90vw;
        margin-left: -23%;
        margin-bottom: 15%;
    }
    .featured-books h3 {
        display: none;
    }
    .recently-added, .all-books {
        display: flex;
        flex-direction: column;
    }
    section {
        margin-left: 7%;
    }
    .card {
        margin-bottom: 30%;
        margin-left: -5%;
        width: 90vw;
    }
}
/*screen size with width above 768px */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search-image{ 
        position: relative;
        top: -83%;
        left: 87%;
    }
    .card{
        width: 33vw;
    }
    .user p {
        margin-top: -15%;
}
}
 @media only screen and (min-width: 1024px) and (max-width: 1030px) {
     .search-image{
         position: relative;
         top: 34%;
         left: -13%;
         height: 2.7vh;
     }
     .user, ul{
         margin-top: 2%;
     }
     .card{
         width: 33vw;
         height: 20vh;
     }
     .img ~ p {
         margin-top: 25%;
     }
     
 }